.wrap {
	width: 500px;
	/*margin: 0 auto;*/
}
.diary{
	border:1px solid red;
}
.btn-holder {
	text-align: center;
	margin: 10px 0 10px 0;
}
#calendar table {
	border-collapse: collapse;
	text-align: center;
}
#calendar table thead td {
	height: 40px;
	font-weight: bold;
}
#calendar table td {
}
#calendar table td.date-cell {
	height: 80px;
}
#calendar table td.sun {
	color: red;
}

#calendar table td.not-this-month {
	font-weight: 100;
	color: #999;
}
#sClass{
    color: #004E87;
}

#calendar table td.date-cell div {

    width: 20px;
    height: 20px;
    /*border-radius: 100%;*/
    border-color: pink;
    text-align: center;
    color: pink;
    /*margin: 5%;*/
}