.wrap {
	width: 60%;
	/*margin: 0 auto;*/
}


.diary{

}

#btnPrev{
    margin-right: 2%;
}
#btnNext{
    margin-left: 2%;
}
#currentDate{
    font-size: 24px;
    color: #353535;
}
#selectMonth{
    font-size: 18px;
}
.thisMonth{
    color:white;
    text-align:center;
    padding: 4px 4px;
     border-radius:20px;
    background-color: #3f3951;

}
.rightTable{
    padding-left: 50px;
    border-left:  dashed 1px #d5d5d5;
    color: #666666;
}




/*/////////////////////*/
#selectMonth{
	margin-left: 21%;
	margin-right: -20px;
}
#month1{
	margin-right: 2%;
}
#month2{
	margin-right: 2%;
}
#month3{
	margin-right: 2%;
}#month4{
	margin-right: 2%;
}#month5{
	margin-right: 2%;
}
 #month6{
	margin-right: 2%;
}#month7{
	margin-right: 2%;
}#month8{
	margin-right: 2%;
}
 #month9{
	margin-right: 2%;
}#month10{
	margin-right: 2%;
}
 #month11{
	margin-right: 2%;
}
#month12{
	margin-right: 2%;
}


textarea {
  margin-top: 10px;
    resize : none;
  width: 300px;
  height: 150px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none;
  border-width: medium 1px 1px medium;
  font-size: 1em;
  line-height: 1.4em;
  padding: 20px;
  transition: background-color 0.2s ease 0s;
}



#daymood{
	height:31px;
    margin-top:2px;
    color:#353535;
    text-align:left;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
}

textarea:focus {

    outline-width: 0;
}

#todate{
    margin-topleft: 20%;
    padding-right:240px;
    font-size: 24px;
}
.topline{


}

.ttt{
	margin-top:5px;
	margin-bottom:5px;
    width: 95%;
    border-width: 1px;
    border-color: rgba(198, 198, 198, 0.2);
}

.mood_button {
    float:right;
    margin-top: 10px;
    background-color: #3f3951;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffd1d6;
    font-size: 18px;
    font-weight: bold;
    padding: 10px  30px 10px 30px;
    text-decoration: none;
}

.mood_button:hover {
	background-color:#3f3951;
    color: #ffd1d6;
}

.mood_button:active {
	background-color:#3f3951;
    color: #ffd1d6;
}

















.btn-holder {
	text-align: center;
	margin: 10px 0 10px 0;
	color:#c6c6c6;

}


#calendar table {
	border-collapse: collapse;
	text-align: center;
	margin-left: 30px;
}
#calendar table thead td {
	height: 40px;
	font-weight: bold;
}
#calendar table td {
	height:20px;}
	
#calendar table td.sun {
	color: #dddddd;
}

#calendar table td.not-this-month {
	font-weight: 100;
	color: #999;
}
#sClass{
    color: #004E87;
}

.Prev{
	cursor:pointer;
	margin-bottom:10px;
}

.Next{
	margin-bottom:10px;
	cursor:pointer;
}

#calendar table td.date-cell  {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-color: pink;
    padding-left: 20px;
    padding-right: 20px;
    color: pink;
    /* margin: 5%; */
}







