
@font-face {
  font-family: 'KoPubDotumBold';
  src: url('KoPubDotumBold.eot?#iefix') format('embedded-opentype'),  url('KoPubDotumBold.woff') format('woff'), url('KoPubDotumBold.ttf')  format('truetype'), url('KoPubDotumBold.svg#KoPubDotumBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
