
@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('KoPubDotumMedium.eot?#iefix') format('embedded-opentype'),  url('KoPubDotumMedium.woff') format('woff'), url('KoPubDotumMedium.ttf')  format('truetype'), url('KoPubDotumMedium.svg#KoPubDotumMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
