
.navbar-default {

}

.moodade-title {
    color: black;
    font-size: 40px;
    text-align: center;
}

/* LINK */
a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




table.change-list, table.change-list th, table.change-list td {
    border: 1px solid #ccc;
}
