
.navbar-default {

}

@font-face {
    font-family: 'NanumGothic';
    src: url(/static/font/KoPubDotumBold/KoPubDotumBold.ttf) format('truetype');
}

body {
    font-family: NanumGothic;
    height: 800px;
}

footer {
    margin-top: 3%;
    font-family: 'KoPubDotumMedium';
    font-size: 11px;
    text-align: center;
}


.mood_button {
    background-color: #f4abc7;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 37px;
    text-decoration: none;
}

.mood_button:hover {
    background-color: #7a7a7a;
    text-decoration: none;
    color: #ffffff;
}

.mood_button:active {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    top: 1px;
}



table.change-list, table.change-list th, table.change-list td {
    border: 1px solid #ccc;
}

a:active {
    color: #353535;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #f4abc7;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
