
.navbar-default {

}
@font-face {
    font-family: 'NanumGothic';
    src: url(/static/font/KoPubDotumBold/KoPubDotumBold.ttf) format('truetype');
}
body{
    font-family: NanumGothic;
}
.moodade-title {
    padding-top: 10px;
    color: black;
    font-size: 24px ;
    font-weight: bold;
    text-align: center;
}
.sub-title{
    padding-top: 10px;
    color: #7a7a7a;
    font-size: 14px;

}


/* LINK */
a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




table.change-list, table.change-list th, table.change-list td {
    border: 1px solid #ccc;
}
