.mood-color{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    text-align: center;
    background-color: pink;
    margin: 5%;
}
.mood-text{
    width: 400px;
    height: 100px;
    border-radius: 10px;

    background-color:lavender;
    text-align: center;
    margin: 5%;
}