.selected_text{

    width: 100%;


    }

.select_text{
      margin: 0 auto;
}
.selected{
    background-color: #f6f6f6;
    width: 550px;
    height: 360px;
}
.bottomclass{
    position: absolute;
    top: 450px;
    right:24%;
}
.nowtext{
    padding-left: 140px;
    padding-right: 50px;
    margin-top: 30px;
    width: 440px;
    float: left;
}
img.left{
    position: absolute;
    right:49%;
    top:300px;
}
img.right{
   position: absolute;
    top:300px;
    right:24%;
}
    /** 왼쪽 화살표 오른쪽 화살표 그리고 그 사이에 커스텀 문구 절대좌표  **/
.innerText{
    width: 350px;
}
.inputarea{
    position: absolute;
     right:100px;
    resize: none;
    width:260px;

}
.buttongroup{
    position: absolute;
    top:640px;
}

span{
    margin: 0 auto;
}
table{
    margin: 0 auto;
    margin-bottom: 13%;

}
td.canvastd{
    padding-top: 5%;
      margin: 0 auto;

}
td.righttd{

    padding-left: 120px;
}

.seleted-img{
    margin: 0 auto;
}
.mood_small_button{
    !important;
    background-color: #3f3951;
    border-radius: 10px;
    display: inline-block;

    cursor: pointer;
    color: #ffd1d6;
    font-size: 24px;
    text-decoration: none;
    padding: 25px 17px 25px 17px;


}
.mood_calendar_button {
    background-color: #3f3951;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffd1d6;
    font-size: 14px;
    padding: 13px 37px;
    text-decoration: none;
}

.mood_main_button {
    background-color: #ffd1d6;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #3f3951;
    font-size: 14px;
    padding: 13px 37px;
    text-decoration: none;
}

