{% extends "base.html" %}
{% load staticfiles %}

{% block extrastyle %}{% static 'css/mood_down.css' %}{% endblock %}
{% block  extra_head %}
    <!-- Plugin -->


{% endblock %}

{% block bottomscript %}



{% endblock %}

{% block extrascript %}

    $(document).ready(function(){





    var colorMap={"red":360, "orange":30, "yellow":60 , "green":180, "skyblue":210, "blue":240 ,"purple":300,
    "magenta":330};

    var category = "{{ category }}";

    firstpercent= parseInt(10 * {{ verbmin }}  );
    lastpercent= parseInt(10 * {{ verbmax }}  );


    var firstcolor= "hsla("+(colorMap["{{ category }}"]-parseInt({{ verbmin }}))+",88%, "+firstpercent+"%"+", 0.8)";


    var lastcolor = "hsla("+( parseInt(colorMap["{{ category }}"])+parseInt({{ verbmax }}))+",98%,    "+lastpercent+"%"+",1)";



    var textline = 18; //18  글자가 넘어가면 다음 문구로 가라.

    var mood_text=["무드에이드를 이용해주셔서 감사합니다."];


    var textidx=0;
    console.log("test");
    {% for mytext in text %}
        mood_text.push("{{ mytext.text }}");
    {% endfor %}

    var drawCanvas = document.getElementById('drawCanvas');
    var drawBackup = new Array();
    if (typeof drawCanvas.getContext == 'function') {
    var ctx = drawCanvas.getContext('2d');
    var isDraw = false;
    var width = $('#width').val();;
    var color = $('#color').val();
    var pDraw = $('#drawCanvas').offset();
    var currP = null;

    $('#width').bind('change', function(){ width = $('#width').val(); });
    $('#color').bind('change', function(){ color = $('#color').val(); });
    var text = "캔버스에 그림등이 그려졌다고 생각하시오";



    var grd = ctx.createLinearGradient(0,0,0,200);
    grd.addColorStop(0, firstcolor);
    grd.addColorStop(1,lastcolor);
    ctx.fillStyle=grd;
    ctx.fillRect(0,0,drawCanvas.width, drawCanvas.height);


    ctx.fillStyle="white";
    ctx.font = "12px NanumGothic";
    ctx.fillText(mood_text[textidx], 10, 150);



    // 로컬이 아닌 세션 스토리지 사용. 생존 기간때문임.
    // 로컬스토리지는 브라우저가 닫혀도 계속 데이터를 가지고 있지만 세션 스토리지는 브라우저가 닫히면 스토리지 정보가 사라지기 떄문에.
    // 저장된 이미지 호출


    // Event (마우스)
    $('#drawCanvas').bind('mousedown', function(e) {
    if (e.button===0) {
    saveCanvas();
    console.log("save");
    e.preventDefault();
    ctx.beginPath();
    isDraw = true;
    }
    });


      function displayText() {
            var text = mood_text[textidx];
            $("#displayText").text( ConvertXssText(text));
        }



    // 선 그리기
    function draw_line(p) {
    ctx.lineWidth = width;
    ctx.lineCap = 'round';
    ctx.lineTo(p.X, p.Y);
    ctx.moveTo(p.X, p.Y);
    ctx.strokeStyle = color;
    ctx.stroke();
    }

    function loadImage() { // reload from sessionStorage
    var img = new Image();
    img.onload = function() {
    ctx.drawImage(img, 0, 0);
    }
    img.src = sessionStorage.getItem('imgCanvas');
    }



    String.prototype.replaceAll = function(org, dest) {
    return this.split(org).join(dest);
    }



    function saveImage() { // save to sessionStorage
    var canvas = document.getElementById('drawCanvas');
    sessionStorage.setItem('imgCanvas', canvas.toDataURL('image/png'));
    var img =  document.getElementById('saveImg');
    img.src = canvas.toDataURL('image/png');
    var tmp = $('<a>').attr('download', 'test.png').attr('href', img.src); //여기가 핵심이군 .
    console.log(tmp[0]);
    tmp[0].click();
    tmp.remove();
    }

    function clearCanvas() {
    ctx.clearRect(0, 0, drawCanvas.width, drawCanvas.height);
    ctx.beginPath();
    sessionStorage.removeItem('imgCanvas');
    }

    function saveCanvas() {
    drawBackup.push(ctx.getImageData(0, 0, drawCanvas.width, drawCanvas.height));
    }

    function prevCanvas() {
    ctx.putImageData(drawBackup.pop(), 0, 0);
    }

    function nextText() {
    clearCanvas();
    ctx.fillStyle=grd;
    ctx.fillRect(0,0,drawCanvas.width, drawCanvas.height);
    ctx.fillStyle="white";
    ctx.font = "12px NanumGothic";

    textidx = (textidx+1)%mood_text.length;
    text = mood_text[textidx];
    makeText(12, text);
    displayText();
    }

    function makeCustom() {     //나의 문구 만들기
        clearCanvas();
        ctx.fillStyle=grd;
        ctx.fillRect(0,0,drawCanvas.width, drawCanvas.height);
        ctx.fillStyle="white";
        ctx.font = "12px NanumGothic";

        text = $("textarea").val();

        makeText(12, text);
        displayText();
    }


    function prevText() {
    clearCanvas();
    ctx.fillStyle=grd;
    ctx.fillRect(0,0,drawCanvas.width, drawCanvas.height);
    ctx.fillStyle="white";
    ctx.font = "12px NanumGothic";

    if(textidx==0)textidx=mood_text.length-1;
    else textidx=textidx-1;

    text = mood_text[textidx];

    //ctx.fillText(text, 10, 150);
    makeText(12, text);
    displayText();
    }


    function makeText(fontsize, downContext) { //현재 폰트 크기, 들어갈 문구
    var textlinesize ; //한줄에 쓰여져야할  글자 수
    var ctxwidth =  drawCanvas.width;
    var ctxheight =  drawCanvas.height;
    var ctxpadding=20;
    var startX=10;
    var startY=100;

    textlinesize = (ctxwidth)/fontsize;
    textlinesize= parseInt(textlinesize);
    downContext = ConvertXssText(downContext);
    for( i=0; i< downContext.length; i+=textlinesize){
    ctx.fillText(downContext.substr(i,textlinesize), 30, startY);
    startY+=fontsize+4;
    }
    }
    function ConvertXssText(dowContext){ // 모델에는 xss 공격 방지를 위해

    var s = dowContext.replaceAll('&lt','<').replaceAll('&gt','>').replaceAll('&#39;','').replaceAll('&quot;','\"').replaceAll('&amp','&');

    return s;

    }

    $('#btnPrev').click(function() {
    prevText()
    });

    $('#btnNext').click(function() {
    nextText()
    });


    $('#btnClea').click(function() {
    clearCanvas();
    });
    displayText();

     $('#btnCustom').click(function() {
      makeCustom();
    });

    $('#btnSave').click(function() {
    saveImage();
    });
    }
    });

{% endblock %}


{% block content %}
    <div class="moodade-title">나만의 배경화면 만들기</div>
    <center>
        <div class="sub-title">내 기분을 담은 배경화면을 만들어 보세요</div>
    </center>

    <div class="container" style="margin-top: 32px; margin-bottom: 10%">
        <div class="row">
            <center><div class="col-sm-6">
                <canvas id="drawCanvas" width="280" height="360">Canvas not supported
                </canvas>
                <div>
                  <button id="btnSave">저장하기</button>
                </div>
            </div></center>
            <div class="col-sm-6">
                <div class ="selected_text">
                    <center><img class="" src="{% static 'img/menu/background_make.png' %}" ></center>
                    <center><div class="sub-title">원하는 문구를 선택하거나 입력해 주세요.</div></center>

                    <div class ="select-menu" >
                              <div style="position: absolute ; left :20px ;top :40%">
                                  <img class="" id="btnPrev" src="{% static 'img/menu/left.png' %}" style="float: left">
                              </div>
                              <center>
                                  <div class ="nowtext" id="displayText" name="nowtext" style="line-height:200% ; position: absolute ; left :40px ;top :25% ; right: 40px";  >
                                  </div>
                              </center>
                              <div width="5%" style="position: absolute ; right :20px ;top :40%">
                                  <img class="" id="btnNext"src="{% static 'img/menu/right.png' %}">
                              </div>
                                <div   style="position: absolute ;float:  left;  left: 20% ;bottom :20%">
                                <textarea cols="40" lows="40" id="CustomText" style="float:left"> </textarea>
                                <input type="submit" id="btnCustom" value="확인"style="position: relative ; left: 15px ;bottom: 10%">
                            </div>
                    </div>
                </div>
                <div style="margin-top: 20px">

                    <center>
                         <div>회원가입하고 더 많은 서비스 이용해보기</div>
                         <div style="margin-bottom: 5px">
                            <button id="btnMain">메인화면으로</button>
                            <button id="btnRegister">회원가입</button>
                         </div>
                    </center>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <img id="saveImg" src="" style="display:none;"/>


{% endblock %}




