<!DOCTYPE html>
<html>
<head>
    <title>jQCloud Example</title>
    <link rel="stylesheet" type="text/css" href="/static/css/jqcloud/jqcloud.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jqcloud/jqcloud-1.0.4.js"></script>
    <script type="text/javascript">
        $(function () {
            var moodtxt = $(location).attr('pathname');
            var my_words = new Array();
            {% for mood in mood_verb_list %}
                var a= Math.random()*10;
                a= a.toFixed(1);
                my_words.push({text: "{{ mood.mood_Verb }}", weight: a});
            {% endfor %}
            $("#my_favorite_latin_words").jQCloud(my_words, {shape: "rectangular"});
        });
    </script>
</head>
<body>
<h1>jQCloud Example</h1>
<div id="my_favorite_latin_words" style="width: 80%; height: 350px; ">

</div>
</body>
</html>
