{% extends "base.html" %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/circle.css' %}{% endblock %}
{% block  extra_head %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var ourverb = '';
        $('[id="mood_verb"]').mousedown(function (e) {
            var tip = $(this).attr('title');
            var data = $(this).text();

            // 브라우져에서 제공하는 기본 툴 팁을 끈다
            $(this).attr('title', '');
            // css와 연동하기 위해 html 태그를 추가해줌
            $(this).remove("");
            ourverb += data + ',';
            $('verblist').text(ourverb);
            var tmp = $('verblist').val();
            console.log($('#verblist').val());
        })

    </script>


{% endblock %}

{% block prescript %}




{% endblock %}

{% block extrascript %}
    var ourverb='';
    $('[id="mood_verb"]').mousedown(function (e) {
    var tip = $(this).attr('title');
    var data = $(this).text();

    // 브라우져에서 제공하는 기본 툴 팁을 끈다
    $(this).attr('title', '');
    // css와 연동하기 위해 html 태그를 추가해줌
    $(this).remove("");
    ourverb+=data+',';
    $('#verblist').val(ourverb);
    alert($('#verblist').val());

    })


{% endblock %}


{% block content %}


    <div class="container-fluid">
    {% for mood in mood_verb_list %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}

    <div class="col-xs-4" id="mood_verb">
        {{ mood.mood_Verb }}
    </div>
    {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
    {% endif %}
    {% if forloop.last %}
        </div>
    {% endif %}
    {% endfor %}
    </div>



    <form method="post" action="/mood/result/">
        {% csrf_token %}
        <input type="text" name="verblist" id="verblist">
        <input type="submit" value="OK">
    </form>


{% endblock %}




