{% extends "base.html" %}
{% load staticfiles %}
{% block extrastyle %}


{% endblock %}
{% block  extra_head %}
    <!-- Plugin -->
    <script>

    </script>


{% endblock %}

{% block bottomscript %}



{% endblock %}

{% block extrascript %}

    $(document).ready(function(){

    var colorMap={"red":360, "orange":30, "yellow":60 , "green":180, "skyblue":210, "blue":240 ,"purple":300,
    "magenta":330};

    var category = "{{ category }}";
    firstpercent= parseInt(10 * {{ verbmin}}  );
    lastpercent= parseInt(10 * {{ verbmax}}  );


    var firstcolor= "hsla("+(colorMap["{{ category }}"]-parseInt({{ verbmin }}))+",88%, "+firstpercent+"%"+", 0.2)";


    var lastcolor = "hsla("+( parseInt(colorMap["{{ category }}"])+parseInt({{ verbmax }}))+",98%, "+lastpercent+"%"+", 1)";








    var drawCanvas = document.getElementById('drawCanvas');
    var drawBackup = new Array();
    if (typeof drawCanvas.getContext == 'function') {
    var ctx = drawCanvas.getContext('2d');
    var isDraw = false;
    var width = $('#width').val();;
    var color = $('#color').val();
    var pDraw = $('#drawCanvas').offset();
    var currP = null;

    $('#width').bind('change', function(){ width = $('#width').val(); });
    $('#color').bind('change', function(){ color = $('#color').val(); });
    var text = "캔버스에 그림등이 그려졌다고 생각하시오";



    var grd = ctx.createLinearGradient(0,0,200,0);
     grd.addColorStop(0, firstcolor);
     grd.addColorStop(1,lastcolor);
    ctx.fillStyle=grd;
    ctx.fillRect(0,0,drawCanvas.width, drawCanvas.height);


      ctx.fillStyle="white";
    ctx.font = "15px serif";
     ctx.fillText(text, 10, 150);


    // 로컬이 아닌 세션 스토리지 사용. 생존 기간때문임.
    // 로컬스토리지는 브라우저가 닫혀도 계속 데이터를 가지고 있지만 세션 스토리지는 브라우저가 닫히면 스토리지 정보가 사라지기 떄문에.
    // 저장된 이미지 호출


    // Event (마우스)
    $('#drawCanvas').bind('mousedown', function(e) {
    if (e.button===0) {
    saveCanvas();
    console.log("save");
    e.preventDefault();
    ctx.beginPath();
    isDraw = true;
    }
    });





    // 선 그리기
    function draw_line(p) {
    ctx.lineWidth = width;
    ctx.lineCap = 'round';
    ctx.lineTo(p.X, p.Y);
    ctx.moveTo(p.X, p.Y);
    ctx.strokeStyle = color;
    ctx.stroke();
    }

    function loadImage() { // reload from sessionStorage
    var img = new Image();
    img.onload = function() {
    ctx.drawImage(img, 0, 0);
    }
    img.src = sessionStorage.getItem('imgCanvas');
    }

    function saveImage() { // save to sessionStorage
    var canvas = document.getElementById('drawCanvas');
    sessionStorage.setItem('imgCanvas', canvas.toDataURL('image/png'));
    var img =  document.getElementById('saveImg');
    img.src = canvas.toDataURL('image/png');
    var tmp = $('<a>').attr('download', 'test.png').attr('href', img.src); //여기가 핵심이군 .
    console.log(tmp[0]);
    tmp[0].click();
    tmp.remove();
    }

    function clearCanvas() {
    ctx.clearRect(0, 0, drawCanvas.width, drawCanvas.height);
    ctx.beginPath();
    sessionStorage.removeItem('imgCanvas');
    }

    function saveCanvas() {
    drawBackup.push(ctx.getImageData(0, 0, drawCanvas.width, drawCanvas.height));
    }

    function prevCanvas() {
    ctx.putImageData(drawBackup.pop(), 0, 0);
    }

    $('#btnPrev').click(function() {
    prevCanvas();
    });

    $('#btnClea').click(function() {
    clearCanvas();
    });

    $('#btnSave').click(function() {
    saveImage();
    });
    }
    });

{% endblock %}


{% block content %}
    <div>
        <div>
            <canvas id="drawCanvas" width="320" height="320" >Canvas not supported
            </canvas>
        </div>
        <div>
            <button id="btnPrev">되돌리기</button>
            <button id="btnClea">Clear</button>
            <button id="btnSave">다운로드</button>
        </div>
    </div>
    <img id="saveImg" src="" style="display:none;"/>
    <form method="post" action="/mood/result/">
        {% csrf_token %}
        <input type="text" name="verblist" id="verblist" hidden>
        <center><input type="submit" value="무드에이드 만들기" style="text-align: center" id="mood_button"></center>
    </form>
    <div>
        {{ verbmin }}{{ verbmax }}

    </div>


{% endblock %}






