{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extra_head %}
    <style>
        .container-fluid{
            background: -moz-linear-gradient(50% 100% 90deg, rgba(249, 215, 228, 1) 0%, rgba(250, 221, 232, 1) 4.84%, rgba(251, 229, 238, 1) 13.44%, rgba(253, 244, 248, 1) 34.26%, rgba(255, 252, 253, 1) 59.36%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(249, 215, 228, 1) 0%, rgba(250, 221, 232, 1) 4.84%, rgba(251, 229, 238, 1) 13.44%, rgba(253, 244, 248, 1) 34.26%, rgba(255, 252, 253, 1) 59.36%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, rgba(249, 215, 228, 1)), color-stop(0.0484, rgba(250, 221, 232, 1)), color-stop(0.1344, rgba(251, 229, 238, 1)), color-stop(0.3426, rgba(253, 244, 248, 1)), color-stop(0.5936, rgba(255, 252, 253, 1)), color-stop(1, rgba(255, 255, 255, 1)));
            background: -o-linear-gradient(90deg, rgba(249, 215, 228, 1) 0%, rgba(250, 221, 232, 1) 4.84%, rgba(251, 229, 238, 1) 13.44%, rgba(253, 244, 248, 1) 34.26%, rgba(255, 252, 253, 1) 59.36%, rgba(255, 255, 255, 1) 100%);
            background: -ms-linear-gradient(90deg, rgba(249, 215, 228, 1) 0%, rgba(250, 221, 232, 1) 4.84%, rgba(251, 229, 238, 1) 13.44%, rgba(253, 244, 248, 1) 34.26%, rgba(255, 252, 253, 1) 59.36%, rgba(255, 255, 255, 1) 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9D7E4', endColorstr='#FFFFFF' ,GradientType=0)";
            background: linear-gradient(0deg, rgba(249, 215, 228, 1) 0%, rgba(250, 221, 232, 1) 4.84%, rgba(251, 229, 238, 1) 13.44%, rgba(253, 244, 248, 1) 34.26%, rgba(255, 252, 253, 1) 59.36%, rgba(255, 255, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F9D7E4', GradientType=0);
        }
    </style>

{% endblock %}
{% block extrastyle %}{% static 'css/main.css' %}{% endblock %}


{% block mainhome %}
    <center>
        <div class="main-logo">
            <img src="{% static 'img/menu/main_logo.png' %}"/>
        </div>
        <div class="your-mood">
            오늘 당신의 기분은 어떤 색인가요?
        </div>

            <a href="/mood/mood_select" class="mood_button">무드에이드 만들기</a>

    </center>

<br><BR>
{% endblock mainhome %}
