{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static 'css/carousel.css' %}{% endblock %}


{% block content %}
    <div class="moodade-title">
        오늘 당신의 기분은 어떠한가요?s
    </div>
    <div class="conainter-fluid" style="margin-top: 5%">
        <div class="row">
            <div class="col-xs-3" id="mood-angry" data-toggle="tooltip" data-placement="left" title="화가 났어요!">
                <a href="./mood/emoticon/angry"><img class="" src="{% static 'img/emoticon/angry.svg' %}"
                                                     alt="Third slide"></a>

            </div>
            <div class="col-xs-3" id="boring" data-toggle="tooltip" data-placement="right" title="따분해요">
                <a href="./mood/emoticon/boring"><img class="" src="{% static 'img/emoticon/boring.svg' %}"
                                                      alt="Third slide"></a>
            </div>
            <div class="col-xs-3" id="disgust" data-toggle="tooltip" data-placement="left" title="역겨워요">
                <a href="./mood/emoticon/disgust"><img class="" src="{% static 'img/emoticon/disgust.svg' %}"
                                                       alt="Third slide"></a>
            </div>
            <div class="col-xs-3" id="fear" data-toggle="tooltip" data-placement="left" title="무서워요">
                <a href="./mood/emoticon/fear"><img class="" src="{% static 'img/emoticon/fear.svg' %}"
                                                    alt="Third slide"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" id="happy" data-toggle="tooltip" data-placement="left" title="행복해요">
                <a href="./mood/emoticon/happy"><img class="" src="{% static 'img/emoticon/happy.svg' %}"
                                                     alt="Third slide"></a>
            </div>
            <div class="col-xs-3" id="interesting" data-toggle="tooltip" data-placement="left" title="재미있어요!">
                <a href="./mood/emoticon/interesting"><img class="" src="{% static 'img/emoticon/interesting.svg' %}"
                                                           alt="Third slide"></a>
            </div>
            <div class="col-xs-3" id="sadness" data-toggle="tooltip" data-placement="left" title="슬퍼요">
                <a href="./mood/emoticon/sadness"><img class="" src="{% static 'img/emoticon/sadness.svg' %}"
                                                       alt="Third slide"></a>
            </div>
            <div class="col-xs-3" id="surprise" data-toggle="tooltip" data-placement="left" title="놀라워요">
                <a href="./mood/emoticon/surprise"><img class="" src="{% static 'img/emoticon/surprise.svg' %}"
                                                        alt="Third slide"></a>
            </div>
        </div>
    </div>


{% endblock content %}

{% block footer %}


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    </h4>
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a
                                href="mailto:70hojung@gmail.com">contact@gmail.com</a></li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/MoodAdeOfficial/?fref=ts"><i
                                class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <i class="fa fa-facebook-square" style="font-size:36px">asdf
                            </i>
                        </li>

                        <li><i class="glyphicon glyphicon-earphone">010 4901 6415</i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; hodongs.net by 2016</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock footer %}
