{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static 'css/carousel.css' %}{% endblock %}

{% block content %}
    <div class="moodade-title">
        오늘 당신의 기분은 어떠한가요?
    </div>
    <div class="conainter-fluid" style="margin-top: 10%">
        <div class="row">
            <div class="col-xs-3" id="mood-angry" data-toggle="tooltip" data-placement="left" title="왼쪽">
                <img class="" src="{% static 'img/angry.png' %}" alt="Third slide">
                    <a href="./mood"></a>
            </div>
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
        </div>
        <div class="row">
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
            <div class="col-xs-3">.<img class="" src="{% static 'img/angry.png' %}" alt="Third slide"></div>
        </div>
    </div>


{% endblock content %}

{% block footer %}
    <hr style="margin:0"/>
    <footer style="text-align: center">
        &copy; 2016 . 11 Moodade
    </footer>
{% endblock footer %}
